.footer-div{
/* width: 100%; */
height: 20vh;
display: flex;
justify-content: center;
align-items: center;
gap: 2%;
}



/* Responsive Styles */
@media (max-width: 1024px) {
    .footer-div {
        scale: 0.9;
    }

   
}

@media (max-width: 768px) {
    .footer-div {
        scale: 0.7;
    }

    
}

@media (max-width: 480px) {
    .footer-div {
        flex-direction: column;
        gap: 2%;
        padding: 5%;
    }
}